@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inter:wght@700&family=Marcellus&family=Poppins&family=Yantramanav:wght@700&display=swap");

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  font-family: Marcellus, sans-serif;
  padding: 20px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  .correttoLogo {
    width: 120px;
    img {
      width: 100%;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 60px;

      li {
        a {
          color: white;
        }
        .active {
          background-color: transparent;
          // border-bottom: 1px solid white;
        }
      }
    }
  }

  .icons {
    display: flex;
    gap: 20px;
    a {
      color: white;
    }
    .active {
      background-color: transparent;
      // border-bottom: 1px solid white;
    }
  }
}

.sticky {
  padding: 10px 25px;
  position: fixed;
  background-color: #161616;
}

.resNavbar {
  display: none;
}

@media (max-width: 1199.98px) {
  .navbar {
    display: none;
  }

  .resNavbar {
    width: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: white;
    z-index: 7;
    gap: 15px;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .resCorrettoLogo {
        width: 120px;
        img {
          width: 100%;
        }
      }
      .menuBars {
        .fa-bars {
          display: block;
          font-size: 20px;
          cursor: pointer;
          color: #be9c79;
        }
      }
    }

    .resMenu {
      opacity: 0;
      height: 0;
      transition: all 0.8s linear;
      position: absolute;
      z-index: 9;
      background: white;
      width: 100%;
      left: 0;
      top: 72px;
      padding: 15px 20px;
      overflow: hidden; //back color ile yazinin eyni zamanda getmesi
      ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 10px;
        li {
          padding: 8px 0;
          width: 100%;
          border-bottom: 1px solid #7e7e7e;
          a {
            color: #656565;
            font-family: Marcellus, sans-serif;
            transition: all 600ms;
            font-size: 15px;
            &:hover {
              color: #be9c79;
            }
          }
        }
        // .active{
        //   color: #be9c79;
        // }
      }
    }
    .open {
      opacity: 1;
      height: 290px;
      // display: block;
    }
  }
  .sticky {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid gainsboro;
  }
}
